* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 768px;
  z-index: -1;
  opacity: 0.99; }

.header {
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  min-height: 100px; }
  .header__title {
    color: #ffffff;
    padding: 0;
    margin: 0; }

.controls {
  background-color: #3a3a3a;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.35);
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .controls .search__label {
    color: #ffffff;
    font-size: 18px;
    position: relative; }
    .controls .search__label::before {
      content: '';
      background: url("../img/search32.png") no-repeat 50% 50%;
      position: absolute;
      width: 36px;
      height: 36px;
      top: calc(50% - 18px);
      left: 0px; }
  .controls .search__input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 40px; }
    .controls .search__input:hover {
      cursor: pointer;
      -webkit-box-shadow: 3px 0px 12px 0px rgba(255, 255, 255, 0.55);
              box-shadow: 3px 0px 12px 0px rgba(255, 255, 255, 0.55); }
    .controls .search__input:focus, .controls .search__input:active {
      outline: none;
      -webkit-box-shadow: 3px 0px 12px 0px rgba(255, 255, 255, 0.55);
              box-shadow: 3px 0px 12px 0px rgba(255, 255, 255, 0.55); }

.button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000000;
  width: 250px;
  height: 40px;
  position: relative;
  overflow: hidden; }
  .button--new::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../img/plus32.png") no-repeat 50% 50%;
    top: calc(50% - 8px);
    left: 15px;
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .button--new:active, .button--new:focus {
    outline: none;
    -webkit-box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55);
            box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55); }
  .button--new:hover {
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .button--new:hover::before {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
  .button--edit, .button--remove {
    width: 35px;
    height: 35px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .button--edit:hover, .button--remove:hover {
      cursor: pointer;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      background-size: 35px 35px;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .button--edit {
    background: url("../img/edit.svg") no-repeat 50% 50%;
    background-size: 25px 25px;
    margin-left: 20px; }
  .button--remove {
    background: url("../img/remove.svg") no-repeat 50% 50%;
    background-size: 25px 25px; }
  .button--submit {
    background-color: chartreuse;
    font-size: 14px;
    font-weight: bold; }
    .button--submit:active {
      outline: none;
      border: 2px solid #fff;
      color: #fff; }
  .button--save {
    background: url("../img/save.svg") no-repeat 50% 50%;
    background-size: 30px 30px;
    margin-left: 14px; }
  .button--refresh {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative; }
    .button--refresh::before {
      content: '';
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      background: url("../img/refresh.svg") no-repeat 50% 50%;
      background-size: 20px 20px; }
    .button--refresh:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
    .button--refresh:focus {
      outline: none;
      -webkit-box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55);
              box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55); }

.contacts {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__list {
    margin: 0;
    padding: 0; }
  .contacts__list-headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts__header__content {
    margin-left: 40px; }
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
    .contacts__item--editable input {
      border: none;
      border-right: 2px solid #ffffff;
      background-color: rgba(0, 255, 47, 0.4);
      font-style: italic; }
      .contacts__item--editable input:active {
        border: 1px solid white; }
    .contacts__item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 15px; }
      .contacts__item:first-child p {
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 60px;
        margin-right: 50px; }
        .contacts__item:first-child p:last-child {
          margin-left: 43px; }
  .contacts__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    color: #000;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    height: 25px; }

.create-contact {
  background-color: #3a3a3a;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
  min-height: 200px;
  padding: 15px;
  top: 98px;
  left: calc(50% + 384px);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .create-contact h1 {
    color: chartreuse; }
  .create-contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    position: relative; }
    .create-contact__form input {
      color: #000;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 10px;
      height: 40px;
      margin-bottom: 20px;
      padding-left: 15px;
      font-size: 14px;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .create-contact__form input:active, .create-contact__form input:focus {
        outline: none;
        background-color: #3a3a3a;
        color: chartreuse;
        border-color: chartreuse;
        -webkit-box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55);
                box-shadow: 3px 0px 12px 0px rgba(0, 255, 3, 0.55);
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }

.hide {
  opacity: 0;
  left: calc(50% + 80px);
  z-index: -1;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.create-contact:not(.hide)__form {
  z-index: 1; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
